.logo {
  position: center;
  align-items: center;
  height: 85px;
  width: 200px;
}
.home {
  align-content: flex-end;
  padding: 10rem;
}

.createPokemon {
  align-content: flex-start;
  padding: 10rem;
}
.header{
  background-color: #30a7d7;
}
