.div {
  background: url("../image/Pok_mon_pixel_art-89641.png");
  background-size: contain;
  position: fixed;
  height: 100%;
  width: 100%;
}
.img {
  height: 30%;
  width: 30%;
  margin-top: 15rem;
}
