.ul {
  display: flex;
  justify-content: center;
}
.div {
  padding: 0.5rem;
}
.span {
  background-color: transparent;
  border: none;
  color: aliceblue;
  font-size: medium;
}
.span:focus {
  font-size: larger;
  color: black;
  text-decoration-line: underline 
}
